@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: #ffffff;
  height: 100vh;
  color: #ffffff;
}
header {
  background-image: url(/src/assets/img/computador.gif);
  height: 100vh;
  width: 100%;
  display: flex;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}
.apresentacao{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: #000000bd;
  align-items: center;
  justify-content: center;
}
.apresentacao h1{
  font-size: 3em;
}
.apresentacao h2 {
  font-size: 2em;
}
.apresentacao p {
  font-size: 1.5em;
  width: 59%;
  text-align: center;
}
.apresentacao span{
  color: #29A1D2;
}
@media (max-width: 1024px) {
}
@media (max-width: 768px){
  
}