@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #000000;
  height: 100vh;
  color: #ffffff;
}

header {
  background: url(/src/assets/img/computador.gif) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;

}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 1.5em;
}

h2 {
  font-size: 2em;
}

.contatos {
  display: flex;
  position: fixed;
  width: 10%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.contatos div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contatos hr {
  background-color: white;
  height: 20vh;
  width: 6px;
}


.home img {
  width: 86px;
}

.apresentacao {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: #000000bd;
  align-items: center;
  justify-content: center;
}

.apresentacao h1 {
  font-size: 3em;
  margin-top: -22px;
}

.apresentacao p {
  width: 46%;
  margin-top: -12px;
  text-align: center;
}

.contatos box-icon {
  margin: 10px 0;
}

.div-sobre {
  display: flex;
  align-items: center;
}

.eu img {
  width: 20%;
  border-radius: 50%;
  margin-left: 17px;
}
.infos {
  width: 100%;
}
.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 15px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

.apresentacao span {
  color: #29A1D2;
}
.sobre-mim {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 10%;

}
.eu {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sobre-mim .eu-interesses {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sobre-mim span {
  font-weight: 600;
  color: #29A1D2;
}

.formacao {
  background-color: #111111;
  width: 100%;
  margin-top: 83px;
  padding: 12px 10%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formacao h2 {
  color: #29A1D2;
  height: 35px;
}

.formacao img {
  width: 7%;
}

.conteudo {
  margin-top: 14px;
  display: flex;
  align-items: center;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 136px;
  margin-top: 83px;
}

.skills p {
  text-align: center;
}

.logo-skills {
  width: 6rem;
  height: 5rem;
}

.skills .logos {
  display: flex;
  width: 67%;
  flex-wrap: wrap;
  justify-content: center;
}

.projetos {
  padding: 12px 75px;
  margin-top: 83px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todos-projetos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.card {
  width: 360px;
  background-color: #111111;
  padding: 8px 20px;
  border-radius: 17px;
  display: flex;
  margin: 0 10px 25px 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.mais {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.mais button {
  background-color: transparent;
  border: 4px solid white;
  /* padding: 14px 20px; */
  border-radius: 17px;

  color: white;
  height: 7vh;
  width: 116px;
}

.mais button:hover {
  border: 4px solid #29A1D2;
  color: #29A1D2;
  transition: 0.5s all;
  cursor: pointer;
}

.card img {
  border-radius: 17px;

  width: 100%;
}
.eu-responsivo {
  display: none;
}

@media (max-width: 1024px) {


  .formacao {
    height: 40vh;
  }

  .eu {
    width: 23%;
  }

  .sobre-mim {
    width: 85%;
  }

  .formacao img {
    width: 10%;
  }

  .apresentacao p {
    width: 65%;
  }

  p {
    font-size: 1.3em;
  }

  .apresentacao h1 {
    font-size: 2.5em;
  }
}

@media (max-width: 768px) {
  .apresentacao h1 {
    font-size: 2.3em;
  }
  .apresentacao p {
    width: 75%;
  }

  p {
    font-size: 1.3em;
  }
  .sobre-mim{
    width: 75%;
  }
  .eu-responsivo{
    display: flex;
    width: 40%;
    border-radius: 94px;
    margin-left: 0;
  }
  .eu {
    display: none;
  }
  .sobre-mim{
    text-align: center;
    align-items: center;
  }
  .sobre-mim div{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .formacao img {
    width: 20%;
  }
  .formacao{
    padding: 12px 96px;
  }
  .conteudo {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .card{
    width: 532px;
    align-items: flex-start;
  }
}