@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #000000;
  height: 100vh;
  color: #ffffff;
}



main section {
  padding: 15px 10%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 1.2em;
}

h2 {
  font-size: 2em;
}









@media (max-width: 1024px) {


  .formacao {
    height: 40vh;
  }

  .eu {
    width: 23%;
  }

  .sobre-mim {
    width: 85%;
  }

  .formacao img {
    width: 10%;
  }

  .apresentacao p {
    width: 65%;
  }

  p {
    font-size: 1.3em;
  }

  .apresentacao h1 {
    font-size: 2.5em;
  }
}

@media (max-width: 768px) {
  .apresentacao h1 {
    font-size: 2.3em;
  }

  .apresentacao p {
    width: 75%;
  }

  p {
    font-size: 1.3em;
  }

  .sobre-mim {
    width: 75%;
  }

  .eu-responsivo {
    display: flex;
    width: 40%;
    border-radius: 94px;
    margin-left: 0;
  }

  .eu {
    display: none;
  }

  .sobre-mim {
    text-align: center;
    align-items: center;
  }

  .sobre-mim div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .formacao img {
    width: 20%;
  }

  .formacao {
    padding: 12px 96px;
  }

  .conteudo {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .card {
    width: 532px;
    align-items: flex-start;
  }
}